{% extends "base.html" %}
{% block content %}
<div class="container">
<h2>{{ user }}'s blogs</h2>
    <hr>
    {% if blogs|length >0 %}
    {% for blog in blogs %}
    <h3><a href="/posts/{{ blog._id }}">{{ blog.title }}</a></h3>
        <p>  {{ blog.description }} </p>
        <hr>
    {% endfor %}
    <a href="/blogs/new"><button type="button" class="btn btn-primary">Create Blog</button></a>
    {% else %}
        <h5> There are no blogs yet!</h5>
        <a href="/blogs/new"><button type="button" class="btn btn-primary">Create Blog</button></a>
    {% endif %}
    </div>
{% endblock %}