{% extends "base.html" %}
{% block content %}
    <div class="container panel panel-default page-form">
        <div class="panel-body">
        <form id="login-form" action="/edit-profile" method="post">
                <div class="panel-heading">
                     <h4 class="panel-title">Edit Profile </h4>
                 </div>
                <div class="form-group">
                    <label for="author">Name</label>
                    <input type="text" id="author" class="form-control" name="author" placeholder="{{ old_name }}">
                </div>


                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" id="email" class="form-control" name="email" placeholder="{{ old_email }}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="New Password">
                    <br>
                </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Edit</button>
                <a href="/jotter"><button type="submit" class="btn btn-success">Cancel</button></a>

            </div>
        </form>
            </div>
    </div>
{% endblock %}