<!DOCTYPE html>
<html>
<head>
<title>Jotter</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

  <body>
  	<div class="jumbotron container">
  		<header class="header">
  			<h1 class="display-4">JOTTER</h1>
  			<p class="lead">A blog where world meets.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="register" role="button">Sign Up!</a>
                <a class="btn btn-primary btn-lg" href="login" role="button">Sign In</a>
             </p>
  		</header>
    </div>


 	<div class="fullscreen-bg">
  		<video loop muted autoplay poster="{{ url_for('static', filename='assets/videoframe.jpg')}}" class="fullscreen-bg__video">
  			<source src="{{ url_for('static', filename='assets/video-bg.mp4')}}" type="video/mp4">
  		</video>
  	</div>
    <footer class="footer">

        <div class="container">
            <ul class="copyright">
                <span class="text-muted"><li>&copy; Jotter. All rights reserved.</li>
                <li>Design By: Haris Mohammad Shah </li></span>
            </ul>
        </div>
    </footer>


  	</body>
</html>