{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Create new blog here</h2>
        <form id="new-blog" action="/blogs/new" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" class="form-control">
                </div>
              <h4> <button type="submit" class="badge badge-primary">Create Blog</button>
                 <a href="/blogs" class="badge badge-secondary">Cancel</a></h4>
        </form>

        <br>

    </div>
{% endblock %}